BOT_TOKEN=
SOCKS_PROXY=socks://torproxy:9050

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

# memory or redis
SESSION_STORAGE=redis

# Redis url. Required if SESSION_STORAGE=redis
REDIS_URL=redis://redis:6379/0

MIGRATIONS_AUTO_RUN=true
